mixin icon(iconName, isBlock)
  if isBlock
    svg&attributes(attributes)
      use(xlink:href='/img/icons/socials/socials.svg##{iconName}')
  else
    +e('svg')&attributes(attributes)
      use(xlink:href='/img/icons/socials/socials.svg##{iconName}')
